@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gowun Batang', serif;

}

body {
    background: #f5f6fa;
}

.wrapper {
    float: none;
}

.active {
    text-decoration: none;
}

.wrapper .sidebar {
    background: #F8FAFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;

}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h2 {
    color: #353866;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: #AAABD3;
    font-size: 14px;
}

.wrapper .sidebar ul li div {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #AAABD3;
    color: #CBA6C3;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.wrapper .sidebar ul li div .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li div:hover,
.wrapper .sidebar ul li div.active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li div:hover .icon,
.wrapper .sidebar ul li div.active .icon {
    color: #0c7db1;
}

.wrapper .sidebar ul li div:hover:before,
.wrapper .sidebar ul li div.active:before {
    display: block;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100px;
    margin-top: 20px;
}

.join {
    width: 70px;
    height: 50px;
    text-decoration: none;
    color: black;
}

.music_table {
    margin-left: 30%;
    width: 60%;
    height: 100%;
}

.comment_move {
    cursor: pointer;
}

.comment_move:hover {
    color: #0c7db1;
}

.fa-heart {
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

#modal-content {
    max-width: 1000px;
    width: 95%;
    max-height: 820px;
    height: 95%;
    margin: auto;
}

#media-content {
    max-width: 1000px;
    width: 95%;
    max-height: 820px;
    height: 95%;
    margin: auto;
}

.modal-header {
    background: lightblue;
    color: #fff;
}

.required:after {
    content: "*";
    color: red;
}

/* 회원가입 부분 */
.register-but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.box > p {
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
    font-family: 'Gowun Batang', serif;
}

.mail {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

.content > hr {
    margin: 50px auto 30px auto;
}

.login-title {
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Gowun Batang', serif;
}

.login-subtitle {
    text-align: center;
    font-size: 2rem;
}

.register-but {
    width: 300px;
    height: 50px;
    padding: 2px;
}

.register-but > button {
    background-color: transparent;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 100px;
    font-family: 'Gowun Batang', serif;
}

#login_off {
    border: 0.5px solid lightgray;
    background-color: transparent;
    width: 900px;
    height: 50px;
    border-radius: 2px;
}

